
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
}
a:active, a:hover {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0 none repeat scroll 0 0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #555;
    font-family: Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 16px;
    line-height: 1.7;
    position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding-right: 0 !important;
    }
}
@media (max-width: 767px) {
    body {
        padding-right: 0 !important;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: Cambria,Georgia,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei","Times New Roman",serif;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 26px;
}
@media (max-width: 767px) {
    h1 {
        font-size: 22px;
    }
}
h2 {
    font-size: 24px;
}
@media (max-width: 767px) {
    h2 {
        font-size: 20px;
    }
}
h3 {
    font-size: 22px;
}
@media (max-width: 767px) {
    h3 {
        font-size: 18px;
    }
}
h4 {
    font-size: 20px;
}
@media (max-width: 767px) {
    h4 {
        font-size: 16px;
    }
}
h5 {
    font-size: 18px;
}
@media (max-width: 767px) {
    h5 {
        font-size: 14px;
    }
}
h6 {
    font-size: 16px;
}
@media (max-width: 767px) {
    h6 {
        font-size: 12px;
    }
}
p {
    margin: 0 0 25px;
}
a {
    border-bottom: 1px solid #999;
    color: #222;
    text-decoration: none;
}
a:hover {
    border-bottom-color: #222;
}
ul {
    list-style: outside none none;
}
blockquote {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    height: auto;
    margin: auto 0;
    max-width: 100%;
}
h2, h3, h4, h5, h6 {
    margin: 60px 0 15px;
}
ul {
    list-style: outside none square;
}
a {
    word-wrap: break-word;
}
hr {
    background-color: #ddd;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
    border: medium none;
    height: 3px;
    margin: 40px 0;
}
blockquote {
    border-left: 4px solid #ddd;
    color: #666;
    padding: 0 15px;
}
blockquote cite::before {
    content: "-";
    padding: 0 5px;
}
dt {
    font-weight: 700;
}
dd {
    margin: 0;
    padding: 0;
}
.pullquote {
    width: 45%;
}
.pullquote.left {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}
.pullquote.right {
    float: right;
    margin-left: 10px;
    margin-right: 5px;
}
.highlight table, .gist table {
    width: auto;
}
.highlight table td, .gist table td {
    border: medium none;
}
.highlight a, .gist a {
    color: #222 !important;
    text-decoration: none !important;
}
.video-container {
    height: 0;
    overflow: hidden;
    padding-top: 60%;
    position: relative;
}
.video-container iframe, .video-container object, .video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    width: 100%;
}
table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
table > tbody > tr:hover {
    background-color: #f5f5f5;
}
caption, th, td {
    font-weight: normal;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}
th, td {
    border-bottom: 3px solid #ddd;
    border-right: 1px solid #eee;
}
th {
    font-weight: 700;
    padding-bottom: 10px;
}
td {
    border-bottom-width: 1px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.full-image.full-image.full-image {
    border: medium none;
}
@media (min-width: 992px) {
    .full-image.full-image.full-image {
        margin: 0 -13%;
        max-width: none;
        width: 126%;
    }
}
.blockquote-center, .page-home .post-type-quote blockquote, .page-post-detail .post-type-quote blockquote {
    border-left: medium none;
    margin: 40px 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.blockquote-center::before, .page-home .post-type-quote blockquote::before, .page-post-detail .post-type-quote blockquote::before, .blockquote-center::after, .page-home .post-type-quote blockquote::after, .page-post-detail .post-type-quote blockquote::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDM0aDZsNC04di0xMmgtMTJ2MTJoNnptMTYgMGg2bDQtOHYtMTJoLTEydjEyaDZ6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+") no-repeat scroll 0 -7px / 24px 24px;
    content: " ";
    display: block;
    height: 24px;
    opacity: 0.2;
    position: absolute;
    width: 100%;
}
.blockquote-center::before, .page-home .post-type-quote blockquote::before, .page-post-detail .post-type-quote blockquote::before {
    border-top: 1px solid #ccc;
    top: -20px;
}
.blockquote-center::after, .page-home .post-type-quote blockquote::after, .page-post-detail .post-type-quote blockquote::after {
    background-position: 100% 7px;
    border-bottom: 1px solid #ccc;
    bottom: -20px;
}
.blockquote-center p, .page-home .post-type-quote blockquote p, .page-post-detail .post-type-quote blockquote p, .blockquote-center div, .page-home .post-type-quote blockquote div, .page-post-detail .post-type-quote blockquote div {
    text-align: center;
}
.use-motion .motion-element {
    opacity: 0;
}
@font-face {
    font-family: "linecons";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icon-linecons/icomoon.eot?#iefix-9394c0") format("embedded-opentype"), url("../fonts/icon-linecons/icomoon.woff?-9394c0") format("woff"), url("../fonts/icon-linecons/icomoon.ttf?-9394c0") format("truetype"), url("../fonts/icon-linecons/icomoon.svg?-9394c0#linecons") format("svg");
}
[class^="icon-"], [class*=" icon-"] {
    font-family: "linecons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.icon-next-logo {
    color: #fff;
    font-size: 24px;
}
.icon-next-home, .icon-next-categories, .icon-next-archives, .icon-next-tags, .icon-next-about, .icon-next-feed, .icon-next-search {
    color: #000;
    font-size: 24px;
}
.icon-next-external-link {
    font-size: 14px;
}
.icon-next-heart {
    font-size: 14px;
}
.menu-item-icon.menu-item-icon.menu-item-icon {
    font-size: 20px;
}
.icon-external-link {
    font-size: 14px;
}
.icon-heart::before, .icon-next-heart::before {
    content: "";
}
.icon-star::before, .icon-next-categories::before {
    content: "";
}
.icon-user::before, .icon-next-about::before {
    content: "";
}
.icon-search::before, .icon-next-search::before {
    content: "";
}
.icon-tag::before, .icon-next-tags::before {
    content: "";
}
.icon-bulb::before, .icon-next-feed::before {
    content: "";
}
.icon-news::before, .icon-next-archives::before {
    content: "";
}
.icon-paperplane::before, .icon-next-external-link::before {
    content: "";
}
.icon-lab::before, .icon-next-logo::before {
    content: "";
}
.icon-shop::before, .icon-next-home::before {
    content: "";
}
.post pre, .post .highlight {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #4d4d4c;
    font-size: 13px;
    line-height: 1.6;
    margin: 20px 0;
    overflow: auto;
    padding: 15px;
}
.post .highlight .gutter pre, .post .gist .gist-file .gist-data .line-numbers {
    color: #666;
}
.post pre, .post code {
    font-family: "PT Mono",Consolas,Monaco,Menlo,monospace;
}
.post code {
    background: #eee none repeat scroll 0 0;
    padding: 0 0.3em;
    text-shadow: 0 1px #fff;
}
.post pre code {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
    text-shadow: none;
}
.post .highlight pre {
    border: medium none;
    margin: 0;
    padding: 0;
}
.post .highlight table {
    border: medium none;
    margin: 0;
    width: auto;
}
.post .highlight td {
    border: medium none;
    padding: 0;
}
.post .highlight figcaption {
    color: #8e908c;
    font-size: 0.85em;
    line-height: 1em;
    margin-bottom: 1em;
}
.post .highlight figcaption::before, .post .highlight figcaption::after {
    content: " ";
    display: table;
}
.post .highlight figcaption::after {
    clear: both;
}
.post .highlight figcaption a {
    float: right;
}
.post .highlight .gutter pre {
    padding-right: 20px;
    text-align: right;
}
.post .highlight .line {
    height: 20px;
}
.post .gist {
    background: #f7f7f7 none repeat scroll 0 0;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0;
    margin: 20px 0;
    padding: 15px 40px 15px 15px;
}
.post .gist .gist-file {
    border: medium none;
    font-family: "PT Mono",Consolas,Monaco,Menlo,monospace;
    margin: 0;
}
.post .gist .gist-file .gist-data {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.post .gist .gist-file .gist-data .line-numbers {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0 20px 0 0;
}
.post .gist .gist-file .gist-data .line-data {
    padding: 0 !important;
}
.post .gist .gist-file .highlight {
    border: medium none;
    margin: 0;
    padding: 0;
}
.post .gist .gist-file .gist-meta {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #8e908c;
    font: 13px Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    margin-left: 40px;
    margin-top: 1em;
    padding: 0;
    text-shadow: 0 0;
}
.post .gist .gist-file .gist-meta a {
    font-weight: normal;
}
.post .gist .gist-file .gist-meta a:hover {
    text-decoration: underline;
}
pre .comment {
    color: #8e908c;
}
pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #c82829;
}
pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #f5871f;
}
pre .ruby .class .title, pre .css .rules .attribute {
    color: #718c00;
}
pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #718c00;
}
pre .title, pre .css .hexcolor {
    color: #3e999f;
}
pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #4271ae;
}
pre .keyword, pre .javascript .function {
    color: #8959a8;
}
html, body {
    height: 100%;
}
.container {
    min-height: 100%;
    position: relative;
}
.header-inner {
    margin: 0 auto;
    padding: 100px 0 70px;
    width: 960px;
}
.one-column .header-inner {
    width: 700px;
}
.main {
    padding-bottom: 150px;
}
.main-inner {
    margin: 0 auto;
    width: 960px;
}
.one-column .main-inner {
    width: 700px;
}
.main-inner .content {
    width: 700px;
}
.footer {
    bottom: 0;
    left: 0;
    min-height: 50px;
    position: absolute;
    width: 100%;
}
.footer-inner {
    margin: 20px auto;
    width: 960px;
}
.one-column .footer-inner {
    width: 700px;
}
.headband {
    background: #222 none repeat scroll 0 0;
    height: 3px;
}
.header {
    background: #fff none repeat scroll 0 0;
}
.header-inner {
    position: relative;
}
.site-meta {
    margin: 0;
    text-align: center;
}
@media (max-width: 767px) {
    .site-meta {
        text-align: center;
    }
}
.brand {
    background: #222 none repeat scroll 0 0;
    border-bottom: medium none;
    color: #fff;
    display: inline-block;
    font-family: Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    padding: 0 25px;
    position: relative;
}
.logo {
    display: inline-block;
    line-height: 36px;
    margin-right: 5px;
    vertical-align: top;
}
.site-title {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    line-height: 36px;
    vertical-align: top;
}
.use-motion .brand {
    opacity: 0;
}
.use-motion .logo, .use-motion .site-title {
    opacity: 0;
    position: relative;
    top: -10px;
}
.site-nav-toggle {
    display: none;
    left: 10px;
    position: absolute;
    top: 10px;
}
@media (max-width: 767px) {
    .site-nav-toggle {
        display: block;
    }
}
.site-nav-toggle button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    margin-top: 2px;
    padding: 9px 10px;
}
@media (max-width: 767px) {
    .site-nav {
        border-top: 1px solid #ddd;
        clear: both;
        display: none;
        margin: 0 -10px;
        padding: 0 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .site-nav {
        display: block !important;
    }
}
@media (min-width: 992px) {
    .site-nav {
        display: block !important;
    }
}
.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
}
.menu .menu-item {
    display: inline-block;
    margin-left: 20px;
}
@media screen and (max-width: 767px) {
    .menu .menu-item {
        margin-top: 10px;
    }
}
.menu .menu-item:first-child {
    margin-left: 0;
}
.menu .menu-item a {
    border-bottom: 1px solid transparent;
    display: block;
    font-size: 13px;
    line-height: 1.5;
    text-transform: capitalize;
    transition: border-color 0.2s ease-in-out 0s;
}
.menu .menu-item a:hover {
    border-bottom-color: #222;
}
.translation {
    color: #999;
    font-size: 14px;
    margin-top: -20px;
}
.post:last-child .post-eof.post-eof.post-eof {
    display: none;
}
.sidebar-toggle {
    background: #222 none repeat scroll 0 0;
    bottom: 45px;
    cursor: pointer;
    height: 15px;
    line-height: 0;
    padding: 5px;
    position: fixed;
    right: 50px;
    width: 15px;
    z-index: 1050;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-toggle {
        display: none;
    }
}
@media (max-width: 767px) {
    .sidebar-toggle {
        display: none;
    }
}
.sidebar-toggle-line {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    height: 2px;
    margin-top: 3px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.sidebar-toggle-line:first-child {
    margin-top: 0;
}
.sidebar {
    background: #222 none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 2px 6px #000 inset;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 1040;
}
.sidebar a {
    border-bottom-color: #555;
    color: #999;
}
.sidebar a:hover {
    color: #eee;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .sidebar {
        display: none !important;
    }
}
.sidebar-inner {
    color: #999;
    padding: 20px 10px;
    position: relative;
    text-align: center;
}
.site-author-image {
    border: 2px solid #333;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 96px;
    padding: 2px;
}
.site-author-name {
    color: #f5f5f5;
    margin: 5px 0 0;
}
.site-description {
    color: #555;
    font-size: 14px;
    margin-top: 5px;
}
.site-state {
    line-height: 1.4;
    overflow: hidden;
}
.site-state-item {
    border-left: 1px solid #333;
    display: inline-block;
    padding: 0 15px;
}
.site-state-item:first-child {
    border-left: medium none;
}
.site-state-item a {
    border-bottom: medium none;
}
.site-state-item-count {
    display: block;
    font-size: 18px;
    text-align: center;
}
.site-state-item-name {
    font-size: 13px;
}
.feed-link {
    margin-top: 20px;
}
.feed-link a {
    border: 1px solid #fc6423;
    border-radius: 4px;
    color: #fc6423;
    display: inline-block;
    padding: 0 15px;
}
.feed-link a i {
    color: #fc6423;
    font-size: 14px;
}
.feed-link a:hover {
    background: #fc6423 none repeat scroll 0 0;
    color: #fff;
}
.feed-link a:hover i {
    color: #fff;
}
.links-of-author {
    margin-top: 20px;
}
.links-of-author a {
    border-bottom-color: #555;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.links-of-author a::before {
    background: #9eebff none repeat scroll 0 0;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 4px;
    margin-right: 3px;
    vertical-align: middle;
    width: 4px;
}
.sidebar-nav {
    margin: 0;
    padding-left: 0;
}
.sidebar-nav li {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
}
.sidebar-nav li:hover {
    color: #f5f5f5;
}
.page-post-detail .sidebar-nav-toc {
    padding: 0 5px;
}
.page-post-detail .sidebar-nav-overview {
    margin-left: 10px;
}
.sidebar-nav .sidebar-nav-active {
    border-bottom-color: #87daff;
    color: #87daff;
}
.sidebar-nav .sidebar-nav-active:hover {
    color: #87daff;
}
.post-toc {
    overflow: hidden;
    position: relative;
}
.post-toc-empty {
    color: #666;
    font-size: 14px;
}
.post-toc ol {
    font-size: 14px;
    list-style: outside none none;
    margin: 0;
    overflow: auto;
    padding: 0 10px 10px;
    text-align: left;
}
.post-toc ol a {
    color: #999;
}
.post-toc ol a:hover {
    color: #ccc;
}
.post-toc .nav .nav-child {
    display: none;
}
.post-toc .nav .active .nav-child {
    display: block;
}
.post-toc .nav .active > a {
    color: #ccc;
}
.post-toc .nav .active-current > a {
    color: #87daff;
}
.post-toc .nav .active-current > a:hover {
    color: #87daff;
}
.post-toc-indicator {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 10px 50% / 10px 12px;
    height: 20px;
    opacity: 0.4;
}
.post-toc-indicator-top {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI2IDI2IiBoZWlnaHQ9IjI2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNiAyNiIgd2lkdGg9IjI2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMC4wNDYsMjQuNDE4IDIuMTMsMjYuNTAyIDEyLjk2NywxNS42NjYgMjMuODAzLDI2LjUwMiAyNS44ODcsMjQuNDE4IDEyLjk2NywxMS40OTggICIvPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMC4wNDYsMTMuNDE4IDIuMTMsMTUuNTAyIDEyLjk2Nyw0LjY2NiAyMy44MDMsMTUuNTAyIDI1Ljg4NywxMy40MTggMTIuOTY3LDAuNDk4ICAiLz48L2c+PC9zdmc+");
    margin-top: 10px;
    opacity: 0;
}
.post-toc-indicator-bottom {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI2IDI2IiBoZWlnaHQ9IjI2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNiAyNiIgd2lkdGg9IjI2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMC4wNDYsMi41ODIgMi4xMywwLjQ5OCAxMi45NjcsMTEuMzM0IDIzLjgwMywwLjQ5OCAyNS44ODcsMi41ODIgMTIuOTY3LDE1LjUwMiAgIi8+PHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIwLjA0NiwxMy41ODIgMi4xMywxMS40OTggMTIuOTY3LDIyLjMzNCAyMy44MDMsMTEuNDk4IDI1Ljg4NywxMy41ODIgMTIuOTY3LDI2LjUwMiAgIi8+PC9nPjwvc3ZnPg==");
    position: absolute;
    width: 100%;
}
.footer {
    color: #999;
    font-size: 14px;
}
.footer img {
    border: medium none;
}
.footer-inner {
    text-align: center;
}
.with-love {
    display: inline-block;
    margin: 0 5px;
}
.powered-by, .theme-info {
    display: inline-block;
}
.powered-by {
    margin-right: 10px;
}
.powered-by::after {
    content: "|";
    padding-left: 10px;
}
.cc-license {
    margin-top: 10px;
    text-align: center;
}
.cc-license .cc-opacity {
    border-bottom: medium none;
    opacity: 0.7;
}
.cc-license .cc-opacity:hover {
    opacity: 0.9;
}
.cc-license img {
    display: inline-block;
}
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .header-inner, .one-column .header-inner, .main-inner, .one-column .main-inner, .main-inner .content, .footer-inner, .one-column .footer-inner {
        width: auto;
    }
    .main-inner {
        margin: 20px auto 0;
    }
    .footer-inner {
        padding: 0 10px;
    }
}
.btn {
    background: #222 none repeat scroll 0 0;
    border: 2px solid #222;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 0 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out 0s;
}
.btn:hover {
    background: #fff none repeat scroll 0 0;
    border-color: #222;
    color: #222;
}
.btn-bar {
    background: #555 none repeat scroll 0 0;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
.btn-bar + .btn-bar {
    margin-top: 4px;
}
.posts-expand {
    padding-top: 40px;
}
@media (max-width: 767px) {
    .posts-expand {
        margin: 0 20px;
    }
    .post-body pre, .post-body .highlight {
        margin: 0 -20px;
        padding: 10px 20px;
    }
    .post-body pre .gutter pre, .post-body .highlight .gutter pre {
        padding-right: 10px;
    }
}
.posts-expand .post-title {
    font-size: 26px;
    text-align: center;
}
@media (max-width: 767px) {
    .posts-expand .post-title {
        font-size: 22px;
    }
}
.posts-expand .post-title-link {
    border-bottom: medium none;
    color: #555;
    display: inline-block;
    line-height: 1.2;
    position: relative;
    vertical-align: top;
}
.posts-expand .post-title-link::before {
    background-color: #000;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    visibility: hidden;
    width: 100%;
}
.posts-expand .post-title-link:hover::before {
    transform: scaleX(1);
    visibility: visible;
}
.posts-expand .post-meta {
    color: #999;
    font-size: 12px;
    margin: 3px 0 60px;
    text-align: center;
}
.posts-expand .post-meta .post-category-list {
    display: inline-block;
    margin: 0;
    padding: 3px;
}
.posts-expand .post-meta .post-category-list-link {
    color: #999;
}
.posts-expand .post-body {
    text-align: justify;
}
.posts-expand .post-body h2, .posts-expand .post-body h3, .posts-expand .post-body h4, .posts-expand .post-body h5, .posts-expand .post-body h6 {
    padding-top: 10px;
}
.posts-expand .post-body img {
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: auto;
    padding: 3px;
}
.posts-expand .post-tags {
    margin-top: 40px;
    text-align: center;
}
.posts-expand .post-tags a {
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
}
.post-nav {
    border-top: 1px solid #eee;
    margin-top: 60px;
    overflow: hidden;
    padding: 10px;
    white-space: nowrap;
}
.post-nav-item {
    display: inline-block;
    white-space: normal;
    width: 50%;
}
.post-nav-item a {
    border-bottom: medium none;
    color: #555;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    position: relative;
}
.post-nav-item a:hover {
    border-bottom: medium none;
    color: #222;
    font-weight: bold;
}
.post-nav-item a:active {
    top: 2px;
}
.post-nav-item a::before, .post-nav-item a::after {
    background-size: 16px auto;
    display: inline-block;
    height: 25px;
    opacity: 0.4;
    vertical-align: top;
    width: 16px;
}
.post-nav-prev a::before {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjE4LjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLWxlZnQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxOC41MDAwMDAsIDkwLjAwMDAwMCkiPjxwYXRoIGQ9Ik03LjQsMS40IEw2LDAgTC04Ljg4MTc4NDJlLTE2LDYgTDYsMTIgTDcuNCwxMC42IEwyLjgsNiBMNy40LDEuNCBaIiBpZD0iU2hhcGUiLz48L2c+PC9nPjwvZz48L3N2Zz4=") no-repeat scroll 0 50% / 8px auto;
    content: " ";
}
.post-nav-prev a:hover::before {
    opacity: 1;
}
.post-nav-next {
    text-align: right;
}
.post-nav-next a::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjYwLjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLXJpZ2h0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjAuNTAwMDAwLCA5MC4wMDAwMDApIj48cGF0aCBkPSJNMSwwIEwtMC40LDEuNCBMNC4yLDYgTC0wLjQsMTAuNiBMMSwxMiBMNyw2IEwxLDAgWiIgaWQ9IlNoYXBlIi8+PC9nPjwvZz48L2c+PC9zdmc+") no-repeat scroll 100% 50% / 8px auto;
    content: " ";
}
.post-nav-next a:hover::after {
    opacity: 1;
}
.posts-expand .post-eof {
    background: #ccc none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin: 160px auto 120px;
    text-align: center;
    width: 8%;
}
.post-more-link {
    margin-top: 50px;
}
@media (max-width: 767px) {
    .posts-collapse {
        margin: 0 20px;
    }
    .posts-collapse .post-title, .posts-collapse .post-meta {
        display: block;
        text-align: left;
        width: auto;
    }
}
.posts-collapse {
    margin-left: 55px;
}
@media (max-width: 767px) {
    .posts-collapse {
        margin: 0 20px;
    }
}
.posts-collapse .collection-title {
    margin: 60px 0;
    position: relative;
}
.posts-collapse .collection-title h2 {
    margin-left: 20px;
}
.posts-collapse .collection-title small {
    color: #bbb;
}
.posts-collapse .collection-title::before {
    background: #bbb none repeat scroll 0 0;
    border-radius: 50%;
    content: " ";
    height: 8px;
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}
.posts-collapse .post {
    margin: 30px 0;
}
.posts-collapse .post-header {
    border-bottom: 1px dashed #ccc;
    position: relative;
    transition: border 0.2s ease-in-out 0s;
}
.posts-collapse .post-header::before {
    background: #bbb none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    content: " ";
    height: 6px;
    left: 0;
    margin-left: -4px;
    position: absolute;
    top: 12px;
    transition: background 0.2s ease-in-out 0s;
    width: 6px;
}
.posts-collapse .post-header:hover {
    border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
    background: #222 none repeat scroll 0 0;
}
.posts-collapse .post-meta {
    font-size: 12px;
    left: 20px;
    position: absolute;
    top: 5px;
}
.posts-collapse .post-comments-count {
    display: none;
}
.posts-collapse .post-title {
    font-family: Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;
    margin-left: 60px;
}
.posts-collapse .post-title::after {
    margin-left: 3px;
    opacity: 0.6;
}
.posts-collapse .post-title a {
    border-bottom: medium none;
    color: #666;
}
.page-home .post-type-quote .post-header, .page-post-detail .post-type-quote .post-header, .page-home .post-type-quote .post-tags, .page-post-detail .post-type-quote .post-tags {
    display: none;
}
.pagination {
    border-top: 1px solid #eee;
    margin: 120px 0 40px;
    text-align: center;
}
.page-number-basic, .pagination .prev, .pagination .next, .pagination .page-number, .pagination .space {
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
    padding: 0 10px;
    position: relative;
    top: -1px;
}
@media (max-width: 767px) {
    .page-number-basic, .pagination .prev, .pagination .next, .pagination .page-number, .pagination .space {
        margin: 0 5px;
    }
}
.pagination .prev, .pagination .next, .pagination .page-number {
    border-bottom: 0 none;
    border-top: 1px solid #eee;
    transition: border-color 0.2s ease-in-out 0s;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .page-number:hover {
    border-top-color: #222;
}
.pagination .space {
    margin: 0;
    padding: 0;
}
.pagination .prev {
    margin-left: 0;
}
.pagination .next {
    margin-right: 0;
}
.pagination .page-number.current {
    background: #ccc none repeat scroll 0 0;
    border-top-color: #ccc;
    color: #fff;
}
@media (max-width: 767px) {
    .pagination {
        border-top: medium none;
    }
    .pagination .prev, .pagination .next, .pagination .page-number {
        border-bottom: 1px solid #eee;
        border-top: 0 none;
        margin-bottom: 10px;
    }
    .pagination .prev:hover, .pagination .next:hover, .pagination .page-number:hover {
        border-bottom-color: #222;
    }
}
.comments {
    margin-top: 60px;
}
.tag-cloud {
    text-align: center;
}
.tag-cloud a {
    display: inline-block;
    margin: 10px;
}
.post-gallery {
    border-collapse: separate;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.post-gallery-row {
    display: table-row;
}
.post-gallery .post-gallery-img {
    border: medium none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.post-gallery .post-gallery-img img {
    border: medium none;
    max-height: 100%;
    max-width: 100%;
}
.fancybox-close, .fancybox-close:hover {
    border: medium none;
}
.back-to-top {
    background: #222 none repeat scroll 0 0;
    bottom: 19px;
    color: #fff;
    cursor: pointer;
    height: 13px;
    padding: 5px;
    position: fixed;
    right: 50px;
    width: 15px;
    z-index: 1050;
}
@media (max-width: 767px) {
    .back-to-top {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .back-to-top {
        display: none;
    }
}
.back-to-top::before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 7px 8px;
    content: " ";
    display: block;
    height: 0;
    margin-top: 2px;
    width: 0;
}
.theme-next #ds-thread #ds-reset {
    color: #555;
}
.theme-next #ds-thread #ds-reset .ds-replybox {
    margin-bottom: 30px;
}
.theme-next #ds-thread #ds-reset .ds-replybox .ds-avatar, .theme-next #ds-reset .ds-avatar img {
    box-shadow: none;
}
.theme-next #ds-thread #ds-reset .ds-textarea-wrapper {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #c7d4e1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.theme-next #ds-thread #ds-reset .ds-textarea-wrapper textarea {
    height: 60px;
}
.theme-next #ds-reset .ds-rounded-top {
    border-radius: 0;
}
.theme-next #ds-thread #ds-reset .ds-post-toolbar {
    background: #f6f8fa none repeat scroll 0 0;
    border: 1px solid #c7d4e1;
    box-sizing: border-box;
}
.theme-next #ds-thread #ds-reset .ds-post-options {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 40px;
}
.theme-next #ds-thread #ds-reset .ds-toolbar-buttons {
    top: 11px;
}
.theme-next #ds-thread #ds-reset .ds-sync {
    top: 5px;
}
.theme-next #ds-thread #ds-reset .ds-post-button {
    background-image: linear-gradient(#fbfbfc, #f5f7f9);
    border: 1px solid #c5ced7;
    border-radius: 3px;
    color: #60676d;
    height: 30px;
    right: 5px;
    top: 4px;
    width: 90px;
}
.theme-next #ds-thread #ds-reset .ds-post-button:hover {
    background-position: 0 -30px;
    color: #60676d;
}
.theme-next #ds-thread #ds-reset .ds-comments-info {
    padding: 10px 0;
}
.theme-next #ds-thread #ds-reset .ds-sort {
    display: none;
}
.theme-next #ds-thread #ds-reset li.ds-tab a.ds-current {
    background: #f6f8fa none repeat scroll 0 0;
    border: medium none;
    color: #60676d;
}
.theme-next #ds-thread #ds-reset li.ds-tab a.ds-current:hover {
    background-color: #e9f0f7;
    color: #60676d;
}
.theme-next #ds-thread #ds-reset li.ds-tab a {
    border-radius: 2px;
    padding: 5px;
}
.theme-next #ds-thread #ds-reset .ds-login-buttons p {
    color: #999;
    line-height: 36px;
}
.theme-next #ds-thread #ds-reset .ds-login-buttons .ds-service-list li {
    height: 28px;
}
.theme-next #ds-thread #ds-reset .ds-service-list a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}
.theme-next #ds-thread #ds-reset .ds-service-list a:hover {
    background: #666 none repeat scroll 0 0;
    color: #fff;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-weibo {
    border-color: #fc9b00;
    color: #fc9b00;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-weibo:hover {
    background: #fc9b00 none repeat scroll 0 0;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-qq {
    border-color: #60a3ec;
    color: #60a3ec;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-qq:hover {
    background: #60a3ec none repeat scroll 0 0;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-renren {
    border-color: #2e7ac4;
    color: #2e7ac4;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-renren:hover {
    background: #2e7ac4 none repeat scroll 0 0;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-douban {
    border-color: #37994c;
    color: #37994c;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-douban:hover {
    background: #37994c none repeat scroll 0 0;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-more-services {
    border: medium none;
}
.theme-next #ds-thread #ds-reset .ds-service-list .ds-more-services:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.theme-next .this_ua {
    background-color: #ccc !important;
    border: 1px solid #bbb !important;
    border-radius: 4px;
    color: #fff;
    margin: 0 1px !important;
    padding: 0 5px !important;
}
.theme-next .this_ua.admin {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}
.theme-next .this_ua.platform.iOS, .theme-next .this_ua.platform.Mac, .theme-next .this_ua.platform.Windows {
    background-color: #39b3d7 !important;
    border-color: #46b8da !important;
}
.theme-next .this_ua.platform.Linux {
    background-color: #3a3a3a !important;
    border-color: #1f1f1f !important;
}
.theme-next .this_ua.platform.Android {
    background-color: #00c47d !important;
    border-color: #01b171 !important;
}
.theme-next .this_ua.browser.Mobile, .theme-next .this_ua.browser.Chrome {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}
.theme-next .this_ua.browser.Firefox {
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}
.theme-next .this_ua.browser.Maxthon, .theme-next .this_ua.browser.IE {
    background-color: #428bca !important;
    border-color: #357ebd !important;
}
.theme-next .this_ua.browser.baidu, .theme-next .this_ua.browser.UCBrowser, .theme-next .this_ua.browser.Opera {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
.theme-next .this_ua.browser.Android, .theme-next .this_ua.browser.QQBrowser {
    background-color: #78ace9 !important;
    border-color: #4cae4c !important;
}
.post-spread {
    margin-top: 20px;
    text-align: center;
}
.jiathis_style {
    display: inline-block;
}
.jiathis_style a {
    border: medium none;
}
.use-motion .post {
    opacity: 0;
}
.page-archive .archive-page-counter {
    left: 20px;
    position: relative;
    top: 3px;
}
@media (max-width: 767px) {
    .page-archive .archive-page-counter {
        top: 5px;
    }
}
.page-archive .posts-collapse {
    position: relative;
}
.page-archive .posts-collapse::after {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin-left: -2px;
    top: 20px;
    width: 4px;
    z-index: -1;
}
.page-archive .posts-collapse .archive-move-on {
    background: #555 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 10px;
    left: 0;
    margin-left: -6px;
    opacity: 0.5;
    position: absolute;
    top: 11px;
    width: 10px;
}
.page-archive .posts-collapse::before, .page-archive .posts-collapse::after {
    content: " ";
    position: absolute;
}
.page-post-detail .site-overview {
    display: none;
    margin-top: 20px;
}
.page-post-detail .sidebar-toggle-line {
    background: #87daff none repeat scroll 0 0;
}
.page-post-detail .comments {
    overflow: hidden;
}
.category-all-page .category-all-title {
    text-align: center;
}
.category-all-page .category-all {
    margin-top: 20px;
}
.category-all-page .category-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.category-all-page .category-list-item {
    display: inline-block;
    margin: 10px;
}
.category-all-page .category-list-count {
    color: #bbb;
}
.category-all-page .category-list-count::before {
    content: " (";
    display: inline;
}
.category-all-page .category-list-count::after {
    content: ") ";
    display: inline;
}
@media (max-width: 767px) {
    .site-nav {
        background: #fff none repeat scroll 0 0;
        border-bottom: 1px solid #ddd;
        left: 0;
        margin: 0;
        position: absolute;
        top: 52px;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .menu {
        text-align: left;
    }
}
@media (max-width: 767px) {
    .menu .menu-item {
        display: block;
        margin-left: 0;
        vertical-align: top;
    }
}
@media (max-width: 767px) {
    .menu .menu-item br {
        display: none;
    }
}
@media (max-width: 767px) {
    .menu .menu-item-icon {
        font-size: 15px;
    }
}
.site-search {
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 767px) {
    .site-search {
        position: static;
    }
}
.site-search form {
    background: #222 none repeat scroll 0 0;
    height: 30px;
    position: relative;
    vertical-align: top;
    z-index: 10;
}
@media (max-width: 767px) {
    .site-search form {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
}
.site-search form input {
    background: transparent url("/images/searchicon.png") no-repeat scroll 10px 40% / 15px 15px;
    border: medium none;
    color: #ccc;
}
@media (max-width: 767px) {
    .site-search form input {
        color: #222;
    }
}
.use-motion .site-search form {
    top: -50px;
}
@media (max-width: 767px) {
    .use-motion .site-search form {
        top: 0 !important;
    }
}
